<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add ticker</title>
  <%- include("./partials/head.ejs") %>
  <style>
    .container {
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <form action="/" method="POST" class="row g-3">
      <div class="col-md-12">
        <label for="symbol" class="form-label">Ticker symbol:</label>
        <input class="form-control" placeholder="Symbol" id="symbol" type="text" name="symbol" required>
      </div>
      <div class="col-md-4">
        <label for="shares" class="form-label">No. of shares:</label>
        <input class="form-control" placeholder="0" id="shares" type="number" name="shares" min="0" step=".01" required>
      </div>
      <div class="col-md-4">
        <label for="avgCost" class="form-label">Average cost:</label>
        <input class="form-control" placeholder="$" id="avgCost" type="number" name="avgCost" min="0" step=".01" required>
      </div>
      <div class="col-md-4">
        <label for="fees" class="form-label">Fees:</label>
        <input class="form-control" placeholder="$" id="fees" type="number" name="fees" min="0" step=".01" required>
      </div>
      <div class="col-md-12">
        <label for="currentPrice" class="form-label">Current price:</label>
        <input class="form-control" placeholder="$" id="currentPrice" type="number" name="currentPrice" min="0" step=".01" required>
      </div>
      <div class="col-md-12">
        <label for="logo" class="form-label">Logo image URL:</label>
        <input class="form-control" id="logo" type="text" name="logo" required>
      </div>
      <br>
      <div class="col-md-12">
        <button class="btn btn-primary" type="submit" name="action">Add</button>
      </div>
    </form>
  </div>
</body>
</html>